*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:cornflowerblue;
    color:blanchedalmond;
    text-align: center;
    line-height: 1.9;
}

.section{
    padding: 40px 20px;
}

.hero{
    padding: 50px 20px;
}

.hero h1{
    font-size: 100px;
}

.grid {
    display: grid;
    gap: 10px;
}

.grid div{
    background-color:blue;
    padding: 20px;
    border-radius: 40px;
}

@media (max-width: 768px) {
    .hero h1{font-size:40px;}
@media (max-width: 768px) {
    .body h1{background-color: cornsilk;}
}
.hero-text{
    display:flex;
    flex-direction: column;
}

.hero img{
    boarder-radius
}